@import '../variables/variables';
@import '../mixins/mixins';






/*===================================================================================================
                                            counter part start
=====================================================================================================*/
#counter {
    padding: 45px 0;
    position: relative;
    z-index: 1;
    color: #fff;

    &::after {
        @include after_tl(0, 0, 100%, 100%, rgba(0, 0, 0, 0.9));
        z-index: -1;
    }

    .counter_up {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        h2 {
            @include fs(#fff, 40px, 700, $oswd);
        }

        h3 {
            @include fs(#fff, 16px, 400, $oswd);
        }
    }
}

/*===================================================================================================
                                            counter part end
=====================================================================================================*/