@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');



* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style: none;
}


a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}




/*================================================================================================
                                                common css end
==================================================================================================*/ 